.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page input {
  background-color: transparent;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid rgb(54, 173, 241);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.page select {
  background-color: transparent;
  border: 0px;
  color: white;
}

.page textarea {
  background-color: transparent;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid rgb(54, 173, 241);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.page button {
  border-radius: 10px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background-color: rgb(28, 223, 66);
  color: white;
  border: 0px;
  text-decoration: none;
  width: 100%;
  margin: 5px;
}

.page button:hover {
  opacity: .7;
}