.card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  border-radius: 10px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background-color: rgb(28, 223,66);
  color: white
}