
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.reviews, .activity, .conversation {
  width: 33%;
  height: 90vh;
  border: 2px solid red;
  overflow-y: scroll;
}