
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.reviews, .activity, .conversation {
  width: 33%;
  height: 90vh;
  overflow-y: scroll;
}

h3 {
  text-align: center;
}