
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page a:hover {
  opacity: .7;
}

.reviews, .activity, .conversation {
  width: 33%;
  height: 90vh;
  overflow-y: scroll;
}

.divider {
  border-top: 4px solid #5a5a5a;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}

