.page {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  display: flex;
  height: 100%;
}

.listNavigation {
  flex: 0 0 20%;
  background-color: rgb(17,18,21);
  padding: 10px;


}

.cardList {
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.listNavigationButtons {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.listNavigationButtons button {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 800;
  background-color: rgb(253,106,8);
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 0px;
}

.listNavigationButtons button:hover {
  opacity: .7;
}

.activeButton {
  color: rgb(53,67,83) !important;
}