.card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.card img {
  border-radius: 10px;
  height: 160px;
}

.cardDetails {
  margin: 10px;
  text-align: right;
}

.userName {
  color: rgb(253,106,8);
  font-weight: 900;
  text-decoration:none
}

.showName {
  color: rgb(54,173,241);
  font-weight: 900;
  text-decoration:none
}