body {
  background-color: rgb(16,19,21);
  color: white;
}

/* NAV BAR  */

nav {
  /* position: fixed; */
  width: 100%;
  height: 50px;
  background-color: rgb(17,18,21);
  z-index: 1;
}

ul {
  padding: 0px 0px 0px 0px;
}

.list {
  list-style-type: none;
  background-color: rgb(17,18,21);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

.items a {
  color: goldenrod;
  text-decoration: none;
  opacity: .5;
}
.items a:hover {
  opacity: 1;
}

.nav-btn {
  display: none;
  position: absolute;
  top: 7px;
  /* padding: 5px; */
  color: #000;
  font-size: 18px;
}

#home-link a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  opacity: .5;
}
#home-link a:hover {
  opacity: 1;
}

nav img {
  width: 10%;
  background-color: transparent;
}
.nav-btn {
  background-color: transparent;
  border: 0px;
}

#resume-btn {
  color: goldenrod;
  font-family: 'Courier Prime', monospace;
  text-decoration: none;
  opacity: .5;
  background-color: black;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}
#resume-btn:hover {
  opacity: 1;
  cursor: pointer;  
}

@media screen and (max-width: 575px) {
  #home a {
    font-size: medium;
  }
  #nav-links a {
    font-size: small;
    gap: 0em;
  }
  .list {
    flex-direction: column;
    height: auto;
  }
  .items:nth-child(1){
    margin-top: 50px;
  }
  .items {
    width: 100%;
    text-align: center;
    margin-right: 0px;
  }
  .nav-btn {
    display: block;
  }
}

/* HOME PAGE  */

.home-page img {
  width: 10%;
}