.card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.card img {
  border-radius: 10px;
  height: 160px;
}


.cardDetails {
  margin: 10px;
  text-align: right;
}

.cardDetails button {
  border-radius: 10px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background-color: rgb(28, 223,66);
  color: white;
  border: 0px;
}

.cardDetails button:hover {
  opacity: .7;
}