.card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 150px;
  justify-content: space-between;
}

.card img {
  border-radius: 10px;
}


.cardDetails {
  margin: 10px;
  text-align: right;
}